body{
		margin:0px;
		padding:0px;
		overflow: hidden;
	}

	/* Fullscreen Gallery Style */
	.nanogallery{
		position: absolute;
		top:75px;
		width: 100%;
		height: 100%;
		background: #222;
        left: 170px;
		overflow: hidden;
	}

	.nanogallery ul{
		padding: 0px;
		margin:0px;
		position: relative;
		list-style-type: none;
		min-width: 100%;
		width: auto;
		white-space:nowrap;
	}

	.nanogallery ul li{
		list-style-type: none;
		height: 100%;
		display: inline-block;
		overflow: hidden;
		margin-left: -4px;
	}
	.nanogallery ul li:first-child{
		margin: 0px;
	}


	.nanogallery ul li img{
		width: 100%;
	}

	/* Vertical Sidebar */
	.nanogallery-vertical-preview{
		width: 200px;
		position: absolute;
		top:0px;
		right: 100%;
		height: 100%;
        overflow-y:hidden;
	}

	.nanogallery-vertical-preview .thumbs{
		background-color: #222;
		position: absolute;
		margin: 0px;
		height: 100%;
		top:0px;
		width: 170px;
		right: 0px;
		overflow: hidden;
		overflow-y:auto;
	}

	.nanogallery-vertical-preview ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		position: relative;
		width: 170px;
	}

	.nanogallery-vertical-preview ul li{
		padding: 0px;
		margin: 0px;
		cursor: pointer;
	}

	.nanogallery-vertical-preview ul li img{
		width: 100%;
		float: left;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.nanogallery-vertical-preview ul li img:hover{
		width: 100%;
		float: left;
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
	}

	.nanogallery-vertical-preview .switch{
		position: fixed;
		height: 60px;
		line-height: 60px;
		width: 30px;
		text-align: center;
		color: #eee;
		font-size: 22px;
		top:300px;
		background: rgba(0,0,0,0.9);
		cursor: pointer;
		z-index: 1000;
	}

	.nanogallery-vertical-preview .switch i{
		line-height: 60px;
	}

	/* Horizontal Sidebar */
	.nanogallery-horizontal-preview{
		/*height: 160px;*/
		position: absolute;
		bottom:0px;
		left: 0px;
		width: 100%;
	}

	.nanogallery-horizontal-preview .switch{
		height: 40px;
		width:60px;
		text-align: center;
		background-color: rgba(0,0,0,0.8);
		color: #eee;
		cursor: pointer;
		position: fixed;
		z-index: 2000;
		left:48%;
		margin-top:-40px;
	}
	.nanogallery-horizontal-preview .switch i{
		line-height: 35px;
	}
	.nanogallery-horizontal-preview .thumbs{
		overflow: hidden;
		overflow-x: auto;

	}
	.nanogallery-horizontal-preview .thumbs ul{
		position: relative;
		/*top:30px;*/
		list-style-type: none;
		white-space: nowrap;
		width: auto;
		padding: 0px;
		margin: 0px;
		min-width: 100%;
		height: 145px;
	}

	.nanogallery-horizontal-preview .thumbs ul li{
		display: inline-block;
		margin-left: -4px;
		cursor: pointer;
	}

	.nanogallery-horizontal-preview .thumbs ul li img{
		height: 100%;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.nanogallery-horizontal-preview .thumbs ul li img:hover{
		height: 100%;
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);

	}

.left-div {
    float: left;
    background-color: linen;
}
.right-div {
    background-color: lime;
}

	/* Fork Image*/
	.fork{
		position: absolute;
		top:0;
		left: 0;
		z-index: 2000;
	}

	/*Title Placeholder*/
	.title{
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: rgba(0,0,0,0.6);
		text-align: center;
		min-height: 40px;
		width: 100%;
		padding-top:20px;
		color:#ccc;
		font-size: 16px;
		z-index: 1000;
		display: none;
	}

	/**Scrollbar Hack for Webkit **/
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

    ::-webkit-scrollbar { 
    display: none; 
}
	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(255,0,0,0.8); 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(255,0,0,0.4); 
	}
